@import '/src/app/variables.scss';
.card {
	width: 414px;
	height: 613px;
	border-radius: 28px;
	display: grid;
	justify-content: center;
	justify-items: stretch;
	align-content: center;
	align-items: start;
	&:hover {
		border: 4px solid var(--Gradient-Vertical, #5712b1);
	}
	img {
		border-radius: 20px;
		background: lightgray 50% / cover no-repeat;
	}
	&__text {
		margin-left: 28px;
		margin-top: 28px;
		color: $white-color;
		text-align: center;
		/* Text TV/h5 */
		font-family: TT Norms Pro;
		font-size: 28px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		color: white;
		position: absolute;
		width: 75px;
		height: 48px;
		padding: 14px 22px;
		border-radius: 12px;
		background: var(
			--Gradient-Accent,
			linear-gradient(90deg, #6a11cb 0%, #2575fc 100%)
		);
	}
}
.cardSimilar {
	width: 271px;
	height: 410px;
	border-radius: 20px;
	display: grid;
	justify-content: center;
	justify-items: stretch;
	align-content: center;
	align-items: start;
	&:hover {
		border: 3px solid var(--Gradient-Vertical, #5712b1);
	}
	img {
		border-radius: 20px;
		background: lightgray 50% / cover no-repeat;
	}
	&__text {
		margin-left: 12px;
		margin-top: 12px;
		color: $white-color;
		text-align: center;
		font-family: TT Norms Pro;
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		color: white;
		position: absolute;
		width: 59px;
		height: 41px;
		padding: 12px;
		border-radius: 8px;
		background: var(
			--Gradient-Accent,
			linear-gradient(90deg, #6a11cb 0%, #2575fc 100%)
		);
	}
}
.cardSeason {
	img {
		margin-bottom: 20px;
	}
	&__text {
		color: $white-color;

		/* Text TV/h5 */
		font-family: TT Norms Pro;
		font-size: 28px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}
	span {
		color: var(--Main-Gray, #bababa);

		/* Text TV/b4 */
		font-family: TT Norms Pro;
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		margin-bottom: 12px;
	}
}
